Checks: >-
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -modernize-deprecated-headers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
